.box {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.jobsindexinputbar {
  height: 45px;
  width: 200px;
  font-size: 15px;
  margin: 5px;
}

.usernamespan {
  font-size: 20px;
}
