.submit {
  background-color: $orange;
  font-family: $bodytextfont;
  width: 20%;
  margin: 15px;
}

.register {
  background-color: $red;
  font-family: $bodytextfont;
  width: 20%;
  margin: 15px;
}
