.button {
  font-family: $bodytextfont;
  width: 100%;
  margin: 5px;
  font-size: 20px;
  border: 1px solid $darkblue;
}

.orangebutton { background-color: $orange }

.redbutton { background-color: $red }

.greenbutton { background-color: $green }

.bluebutton { background-color: $darkblue }

.shortbutton { width: 100px }
