.button {
  font-family: $bodytextfont;
  width: 90%;
  margin: 5px;
}

.orangebutton { background-color: $orange }

.redbutton { background-color: $red }

.greenbutton { background-color: $green }

.bluebutton { background-color: $darkblue }
