.largeIcon {
  background-color: $orange;
  border: 2px solid $darkblue;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 100%;
  margin-top: 20px;
}

.smallIcon {
  background-color: $orange;
  border: 2px solid $darkblue;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .largeIcon {
    width: 75px;
    height: 75px;
  }
  .smallIcon {
    width: 50px;
    height: 50px;
  }
}
