.largeIcon {
  background-color: $orange;
  border: 2px solid $darkblue;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 100%;
}

.smallIcon {
  background-color: $orange;
  border: 2px solid $darkblue;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 100%;
}
