<p class="is-size-2 title">Edit this Job</p>
<form ng-submit="jobsEdit.handleUpdate()" name="jobsEdit.form" novalidate>

  <div class="field">
    <label class="label" for="category">Category</label>
    <div ng-messages="jobsEdit.form.category.$error" ng-if="jobsEdit.form.title.$dirty || jobsEdit.form.$submitted">
      <div class='' ng-message="required">Please choose a category</div>
    </div>
    <div class="select">

      <select ng-model="jobsEdit.data.category" name="category" required ng-class = " {'is-danger': jobsEdit.isDanger('category')}"/>
      <option>Shopping</option>
      <option>Gardening</option>
      <option>DIY</option>
      <option>Social</option>
    </select>
  </div>
</div>

<div class="field">
  <label class="label" for="description">Description</label>

  <div class="control">
    <div ng-messages="jobsEdit.form.description.$error" ng-if="jobsEdit.form.description.$dirty || jobsEdit.form.$submitted">
      <div class='' ng-message="required">Please provide a description</div>
    </div>
    <textarea class="textarea" ng-model="jobsEdit.data.description" name="description" placeholder="Please include a short description of the job" required ng-class = " {'is-danger': jobsEdit.isDanger('description')}"/></textarea>
  </div>
</div>

<div class="field">
  <label class="label">Duration</label>
  <div class="select">
    <select ng-model="jobsEdit.data.duration">
      <option>1-2 hours</option>
      <option>Half a day</option>
      <option>Full day</option>
      <option>1-3 days</option>
      <option>More then 3 days</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label">Start Date</label>
  <div class="control">
    <input class="input" type="date" placeholder="" ng-model="jobsEdit.data.startdate">
  </div>
  <div class="field">
    <label class="label">End Date</label>
    <div class="control">
      <input class="input" type="date" placeholder="" ng-model="jobsEdit.data.enddate">
    </div>
  </div>
  <p class="help">
    <button class="button submit">Submit</button>
  </p>
</form>
