<h1>Available Jobs</h1>
<div class="map" g-map-index-view job-listings="jobsIndex.all">GOOGLE MAP</div>
<pre>{{ $scope.getUserLocation() }}</pre>

<form class="" ng-submit="jobsIndex.jobsFilter()">
  <input type='text' ng-model="jobsIndex.criteria.lng" placeholder="lng"></input>
  <input type='text' ng-model="jobsIndex.criteria.lat" placeholder="lat"></input>
  <select type='text'ng-model="jobsIndex.criteria.maxDistance" placeholder="maxDistance">
    <option value="5">5km</option>
    <option value="10">10km</option>
    <option value="15">15km</option>
    <option value="20">20km</option>
    <option value="25">25km</option>
    <option value="5000000000000000">+25km</option>
  </select>
  <button type="submit">Submit</button>
</form>

<div class="columns is-inline">
  <div ng-repeat="job in jobsIndex.all" class="column ">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content level is-mobile">
            <p>{ job.icon }</p>
            <div class="level-item">
              <p class="">{{ job.category }} for {{job.createdBy.firstname}}</p>
            </div>
            <div class="level">
              <p>{{ job.description }}</p>
            </div>
            <a class="level-item" ui-sref="jobsShow({ id: job._id })">More Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
