
<!-- this section can only be seen when user is not logged in -->
<section ng-if='!main.isAuthenticated()'>
  <p>Thank you for your interest in NeighbourGood! If you'd like to help create a cooperative society, please <a ui-sref="home">log in</a> or <a ui-sref="register">register</a>.</p>
</section>
<!-- end of not-logged-in users section -->


<!-- this section can only be seen when user is logged in -->
<section ng-if='main.isAuthenticated()'>

  <!-- this section can only be seen by the job poster -->
  <section ng-controller="UsersProfileCtrl as usersProfile">
    <section ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
      Hello, {{usersProfile.user.firstname}}! This job was posted by you.
    </section>
  </section>
  <!-- end of job-poster-only section -->

  <p class="title is-2">{{ jobsShow.job.category }} for {{ jobsShow.job.createdBy.firstname }}</p>
  <div class="columns is-mobile">
    <div class="column is-one-quarter">
      <img src="https://i.ebayimg.com/images/g/WK8AAOSwxg5XyBUD/s-l300.jpg" alt="" />
    </div>
    <div class="column is-three-quarters">
      <p class="title is-4">{{ jobsShow.job.description }}</p>
      <p class="title is-4">Duration: {{ jobsShow.job.duration }}</p>
      <p class="title is-4">Start Date: {{ jobsShow.job.startdate | date : format : timezone }}</p>
      <p class="title is-4">End Date: {{ jobsShow.job.enddate | date : format : timezone }}</p>
      <p class="title is-4">Posted {{ jobsShow.job.createdAtRelative }}</p>

    </div>
  </div>
  <pre>{{ jobsShow.location }}</pre>
  <p class="column title is-4">Posted by</p>

  <div class="columns is-mobile">
    <div class="column is-one-quarter">
      <img ng-src="{{ jobsShow.job.createdBy.image }}" alt="" />
    </div>
    <div class="column is-three-quarters">
      <a ui-sref='usersShow({ id: jobsShow.job.createdBy._id })'><p class="title is-2">{{ jobsShow.job.createdBy.firstname }} {{ jobsShow.job.createdBy.surname }}</p>
        <p class="title is-4">{{ jobsShow.job.createdBy.bio }}</p></a>
      </div>
    </div>
    <p>Distance: {{ jobsShow.distance }}</p>
    <div g-map-show-view job-location="jobsShow.job.location" distance="jobsShow.distance" class="map column"></div>

    <!-- this section can only be seen by the job poster -->
    <section ng-controller="UsersProfileCtrl as usersProfile">
      <div ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
        <a ui-sref='jobsEdit({ id: jobsShow.job._id })' class='button'>Edit this job</a>
        <button ng-click='jobsShow.handleDelete()' class='button is-danger'>Delete this job</button>
      </div>
      </section>
    <!-- end of section-seen-only-by-job-poster -->


    <hr />
<!-- applicant panel -->
<p class='title is-4'>Applicants For This Job</p>
<div class="columns is-mobile">
  <div class="">
    <div class="media" ng-repeat="applicant in jobsShow.job.applicants">
      <div class="column is-one-quarter">
        <img src="{{ applicant.who.image }}" alt="" />
      </div>
      <div class="column is-half">
        <p class="title is-6">Applicant is: <a ui-sref='usersShow({ id: applicant.who._id })'>{{ applicant.who.firstname }} {{ applicant.who.surname }}</a></p>
        <p class="title is-6">Status: {{applicant.status}}</p>
        <!-- only seen by job poster -->
        <section ng-controller="UsersProfileCtrl as usersProfile">
          <section ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
            <button type="button" name="button" ng-click='jobsShow.handleApplicantAccept(applicant)'>Choose this applicant</button>
            <button type="button" name="button" ng-click='jobsShow.handleApplicantReject(applicant)'>Reject this applicant</button>
          </section>
        </section>
        <!-- end of job-poster-only -->
      </div>

      <div class="column is-one-quarter"  ng-controller="UsersProfileCtrl as usersProfile">
        <button ng-click="jobsShow.handleApplicantDelete(applicant)" class="button is-danger" ng-if="applicant.who._id === usersProfile.user._id">Delete</button>
      </div>
    </div>
  </div>
</div>
<form name="jobsShow.form"  novalidate>

<!-- end applicant panel -->
<hr />

<!-- messages panel -->
<p class='title is-4'>Messages About This Job</p>
    <div class="columns is-mobile">
      <div class="comments">
        <div class="media" ng-repeat="message in jobsShow.job.messages">
          <div class="column is-one-quarter">
            <img ng-src="{{ message.createdBy.image }}" alt="" />
          </div>
          <div class="column is-half">
            <p class="title is-4">{{ message.content }}</p>
            Message from: <a ui-sref='usersShow({ id: message.createdBy._id })'><p class="title is-6">{{ message.createdBy.firstname }} {{ message.createdBy.surname }}</p></a>

          </div>
          <div class="column is-one-quarter"  ng-controller="UsersProfileCtrl as usersProfile">
            <button ng-click="jobsShow.handleMessageDelete(message)" class="button is-danger" ng-if="message.createdBy._id === usersProfile.user._id">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <form name="jobsShow.form"  novalidate>
      <div class="field">
        <label for="content">Leave a message for {{ jobsShow.job.createdBy.firstname }}</label>
        <textarea class="textarea" ng-model="jobsShow.data.content" placeholder="Message"></textarea>
      </div>
      <button class="button" ng-click="jobsShow.handleMessageCreate()">Submit message only</button>
      <button class="button" ng-click="jobsShow.handleApplicantCreate()">Submit message AND apply for this job</button>
      </form>
    </form>

    <!-- end messages panel -->

  </section>

  <!-- end of logged-in-users section -->
