<!-- this section can only be seen when the user is not logged in -->
<section ng-if='!main.isAuthenticated()'>
  <p>Thank you for your interest in NeighbourGood! If you'd like to help create a cooperative society, please <a ui-sref="home">log in</a> or <a ui-sref="register">register</a>.</p>
</section>
<!-- end of not-logged-in users section -->

<!-- this section can only be seen when user is logged in -->
<section ng-if='main.isAuthenticated()'>
  <div class="columns">
    <div class="column is-three-quarters has-text-centered">
      <p class="title is-1">{{ jobsShow.job.category }} for {{ jobsShow.job.createdBy.firstname }}</p>
    </div>

    <!-- this section can only be seen by the job poster -->
    <section ng-controller="UsersProfileCtrl as usersProfile">
      <div ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
        <a ui-sref='jobsEdit({ id: jobsShow.job._id })' class='button orangebutton'>Edit this job</a>
        <button ng-click='jobsShow.handleDelete()' class='button redbutton'>Delete this job</button>
      </div>
    </section>
  <!-- end of section-seen-only-by-job-poster -->
  </div>
  <div class="columns">
    <div class="column is-three-thirds">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <img class="largeIcon" ng-src="./assets/icons/{{ jobsShow.job.category }}.png" alt="" />
          </div>
          <div class="media-content">
            <div class="content">
              <p class="bodyText">{{ jobsShow.job.description }}</p>
              <p class="subText">Duration: {{ jobsShow.job.duration }}</p>
              <p class="subText">Start Date: {{ jobsShow.job.startdate | date : format : timezone }} to {{ jobsShow.job.enddate | date : format : timezone }}</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="column is-one-third has-text-centered">
      <p class="title is-4">Posted by</p>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <div class="profile-image-small" style="background-image: url({{ jobsShow.job.createdBy.image }})"></div>
          </div>
          <div class="media-content">
            <div class="content">
              <!-- this section can only be seen by the job poster -->
              <section ng-controller="UsersProfileCtrl as usersProfile">
                <section ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
                  Hello, {{usersProfile.user.firstname}}! This job was posted by you.
                </section>
              </section>
              <!-- end of job-poster-only section -->
              <a ui-sref='usersShow({ id: jobsShow.job.createdBy._id })'>
                <p class="bodyText">{{ jobsShow.job.createdBy.firstname }} {{ jobsShow.job.createdBy.surname }}</p>
                <p class="subText">Posted {{ jobsShow.job.createdAtRelative }}</p>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  <div g-map-show-view job-location="jobsShow.job.location" distance="jobsShow.distance" class="map column"></div>
  <p class="bodyText has-text-centered">{{ jobsShow.distance }} from your current location</p>

  <!-- this section can be seen only when the job is finished -->
  <section ng-if="jobsShow.job.status === 'finished'">
    <div ng-controller="UsersProfileCtrl as usersProfile">
      <div class="columns is-mobile">
        <div class="">
          <div class="media" ng-repeat="applicant in jobsShow.job.applicants" ng-if="applicant.status === 'accepted'">
            <div class="column is-one-quarter">
              <img src="{{ applicant.who.image }}" alt="" />
            </div>
            <div class="column is-half">
              <p ng-if="applicant.who._id !== usersProfile.user._id" class="title is-6">This job was done by <a ui-sref='usersShow({ id: applicant.who._id })'>{{ applicant.who.firstname }} {{ applicant.who.surname }}</a></p>
              <p ng-if="applicant.who._id === usersProfile.user._id" class="title is-6">This job was done by <a ui-sref='usersProfile({ id: applicant.who._id })'>you</a>!</p>
              <!-- only seen by job poster -->
              <div ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
                <button type="button" name="button" ng-click=''>Did you like {{applicant.who.firstname}}'s help? Give a rating!</button>
              </div>
              <!-- end of job-poster-only -->
              <!-- only seen by person who did job -->
              <button ng-click="" class="button" ng-if="applicant.who._id === usersProfile.user._id">What was it like helping {{jobsShow.job.createdBy.firstname}}? Give a rating!</button>
              <!-- end of person-who-did-job  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of job-is-finished section -->

  <!-- this section can be seen only when the job is in progress -->
  <section ng-if="jobsShow.job.status === 'in progress'">
    <section ng-controller="UsersProfileCtrl as usersProfile">
      <div class="columns is-mobile">
        <div class="">
          <div class="media" ng-repeat="applicant in jobsShow.job.applicants" ng-if="applicant.status === 'accepted'">
            <div class="column is-one-quarter">
              <img src="{{ applicant.who.image }}" alt="" />
            </div>
            <div class="column is-half">
              <p ng-if="applicant.who._id !== usersProfile.user._id" class="title is-6">This job is in progress, and is being done by <a ui-sref='usersShow({ id: applicant.who._id })'>{{ applicant.who.firstname }} {{ applicant.who.surname }}</a></p>
              <!-- only seen by person doing job -->
              <div ng-if="applicant.who._id === usersProfile.user._id">
                <p class="title is-6">This job is in progress, and is being done by <a ui-sref='usersProfile({ id: applicant.who._id })'>you</a>!</p>
                <button type="button" name="button" ng-click='jobsShow.handleStatusFinish()'>Mark this job as finished</button>
              </div>
              <!-- end only-person-doing-job -->
              <!-- only seen by job poster -->

              <div ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
                <button type="button" name="button" ng-click='jobsShow.handleStatusFinish()'>Mark this job as finished</button>
              </div>

              <!-- end of job-poster-only -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!-- end of job-in-progress section -->

  <!-- this section can only be seen when job is available -->
  <section ng-if="jobsShow.job.status === 'available'">
    <div class="columns">
      <div class="column is-three-thirds">
        <!-- messages panel -->
        <p class='title is-4'>Questions and comments about this job</p>
        <section ng-if="jobsShow.job.messages.length === 0">
          <p class='bodyText'>There are no questions or comments about this job</p>
        </section>
        <div class="box" ng-repeat="message in jobsShow.job.messages">
          <article class="media">
            <div class="media-left">
              <div class="profile-image-small" style="background-image: url({{ message.createdBy.image }})"></div>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="title is-4">{{ message.content }}</p>
                <p class="subText">Message from: </p>
                <a ui-sref='usersShow({ id: message.createdBy._id })'>
                  <p class="subText">{{ message.createdBy.firstname }} {{ message.createdBy.surname }}</p>
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="column is-one-third">
        <!-- applicant panel -->
        <p class='title is-4'>Applicants for this job</p>
        <section ng-if="jobsShow.job.applicants.length === 0">
          <p class='bodyText'>No one has applied for this job yet</p>
        </section>
          <div class="box" ng-repeat="applicant in jobsShow.job.applicants">
            <article class="media">
              <div class="media-left">
                <div class="profile-image-small" style="background-image: url({{ applicant.who.image }})"></div>
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="bodyText"><a ui-sref='usersShow({ id: applicant.applicant._id })'>{{ applicant.who.firstname }} {{ applicant.who.surname }}</a></p>
                  <p class="subText">Status: {{applicant.status}}</p>
                </div>
                  <!-- only seen by job poster -->
                  <section ng-controller="UsersProfileCtrl as usersProfile">
                    <section ng-if="jobsShow.job.createdBy._id === usersProfile.user._id">
                      <button class="button greenbutton" name="button" ng-click='jobsShow.handleApplicantAccept(applicant)'>Choose this applicant</button>
                      <!-- <button type="button" name="button" ng-click='jobsShow.handleApplicantReject(applicant)'>Reject this applicant</button> -->
                    </section>
                  </section>
                  <!-- end of job-poster-only -->
                <!-- this div only seen by applicant -->
                <section ng-controller="UsersProfileCtrl as usersProfile">
                  <button ng-click="jobsShow.handleApplicantDelete(applicant)" class="button redbutton" ng-if="applicant.who._id === usersProfile.user._id">Withdraw your application</button>
                </section>
                <!-- end of div-only-seen-by-applicant -->
              </div>
            </article>
          </div>


              <div class="column is-one-quarter">
                <img src="{{ applicant.applicant.image }}" alt="" />
              </div>

            </div>
          </div>
        </div>
    </div>

      <!-- end applicant panel -->

  </section>



        <form name="jobsShow.form"  novalidate>
          <div class="field">
            <label for="content">Leave a message for {{ jobsShow.job.createdBy.firstname }}</label>
            <textarea class="textarea" ng-model="jobsShow.data.content" placeholder="Message"></textarea>
          </div>
          <button class="button" ng-click="jobsShow.handleMessageCreate()">Submit message only</button>
          <button class="button" ng-click="jobsShow.handleApplicantCreate()">Submit message AND apply for this job</button>
        </form>
      </form>

      <!-- end messages panel -->
      </div>
      <div class="column is-one-third">

      </div>
    </div>
  </section>
</section>

  <!-- end of logged-in-users section -->
