<h1>neighbourGOOD</h1>
<img src="https://png.pngtree.com/element_origin_min_pic/16/11/29/70fc7a73b827babebcc944314f2b9958.jpg" alt="">

<form ng-submit="">
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Username">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help"></p>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="password" placeholder="password">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help"></p>
    <button class="button is-primary">Submit</button>
  </form>
</div>
