.animation-home {
  width: 90%;
  margin: 0 auto;
}

.sun {
  width: 30%;
  position: relative;
  left: 70%;
  animation-name: rotate;
  animation-duration: 180s;
  animation-iteration-count: infinite;
}

.cloud {
  width: 16%;
  position: relative;
  left: -30%;
  top: -45px;
  animation-name: moveLeft;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}

.house { margin-top: 80px }

.car {
  width: 25%;
  position: relative;
  right: -120%;
  top: -85px;
  animation-name: moveRight;
  animation-duration: 15s;
  animation-delay: 20s;
  animation-iteration-count: infinite;
}

@keyframes moveLeft {
0% { left:-30%; }
50%   { left:25%; }
100% { left:-30%; }
}

@keyframes moveRight {
0% { right:-120%; }
100% { right:200%; }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
