<!DOCTYPE html>
<html ng-app="neighbourgood">
<head>
  <meta charset="utf-8">
  <title>NeighbourGood</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster|PT+Sans+Narrow" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw71VJyrn4wEDk09aMJhnlARTE-iGFIh4&libraries=places"></script>
</head>
<body>
  <nav ng-controller="MainCtrl as main" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">
        <p class="is-size-2 title logo">NeighbourGood</p>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-click="main.toggleNav()" ng-class="{ 'is-active': main.navBarIsOpen }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" ng-class="{ 'is-active': main.navBarIsOpen }">
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="jobsIndex">All Jobs</a>

        <a class="navbar-item" ui-sref="jobsNew" ng-if="main.isAuthenticated()">Post a Job</a>

        <a class="navbar-item" ng-controller="LoginCtrl as login" ui-sref="usersProfile({ id: login.userId })" ng-if="main.isAuthenticated()">Profile <span ng-controller="UsersProfileCtrl as usersProfile">(logged in as {{usersProfile.user.firstname}})</span></a>

        <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>

        <a class="navbar-item" ui-sref="register" ng-if="!main.isAuthenticated()">Register</a>
        <a class="navbar-item" ui-sref="home" ng-if="!main.isAuthenticated()">Login</a>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

      </div>
    </div>
  </nav>

  <section class='section' ng-controller="MainCtrl as main" ng-if="!main.isHome">
    <div class="container" ui-view>
      <ui-view></ui-view>
    </div>
  </section>

</body>
</html>
