<div class= 'box'>
  <p class="profile-title title is-1 has-text-centered" >Welcome {{ usersProfile.user.firstname}}! </p>
  <div class="columns is-mobile is-vcentered">
    <div class="column is-one-third-desktop is-half-mobile">
      <img class="profile-image image is-256x256 centered" src='{{usersProfile.user.image}}' />
    </div>
    <div class="column is-two-thirds-desktop is-half-mobile">
      <p class="subtitle is-4">{{usersProfile.user.bio}}</p>
      <p class="subtitle is-4">{{usersProfile.user.email}}</p>
    </div>
  </div>

  <div class="columns box">
    <div class="column">
      <p class="title is-3">Your average rating as an asker:</p>
      <p class="subtitle is-4" ng-if='usersProfile.calculateAverageJobrating()'>{{ '⭐ '.repeat(usersProfile.calculateAverageJobrating()) }} ({{usersProfile.user.jobs.length}} ratings)</p>
      <p class="subtitle is-4" ng-if='!usersProfile.calculateAverageJobrating()'>Oh, you don't have a rating...yet</p>
    </div>
    <div class="column">
      <p class="title is-3">Your average rating as a helper:</p>
      <p class="subtitle is-4" ng-if="usersProfile.user.avgRating">{{'⭐ '.repeat(usersProfile.user.avgRating)}} ({{usersProfile.user.userratings.length}} ratings)</p>
      <p class="subtitle is-4" ng-if="!usersProfile.user.avgRating">Oh, you don't have a rating...yet</p>
    </div>

    <div class="column">
      <p class="subtitle is-4">You are helping with:</p>
      <div ng-controller='JobsIndexCtrl as jobsIndex'>
        <div ng-repeat='job in jobsIndex.all'>
          <div ng-repeat='applicant in job.applicants'>
            <div ng-if="applicant.who === usersProfile.user._id">
              <div ng-if="applicant.status === 'accepted'">
                <p class="subtitle is-4"><a ui-sref='jobsShow({ id: job._id })'>{{job.category}} for {{job.createdBy.firstname}} {{job.createdBy.surname}}</a></p>
                <p class="subtitle is-4">Job status: {{job.status}}</p>
                <p class="subtitle is-4" ng-if="job.status === 'reviewed'">How the asker rated you: {{ '⭐ '.repeat(job.jobrating) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns box">
    <div class="column is-half" ng-repeat='job in usersProfile.user.jobs'>
    <div>
      <p class="job-click title is-3">You've asked for help with...</p>
        <p class="title is-4"><a ui-sref='jobsShow({ id: job._id })'>{{job.category}}</a></p>
        <p class="subtitle is-4">Job created {{job.createdAtRelative}}</p>
        <p class="subtitle is-4">Number of applicants: {{job.applicants.length}}</p>
        <p class="subtitle is-4">Status: {{job.status}}</p>
      </div>
    </div>
  </div>

  <div>
    <a ui-sref='usersEdit({ id: usersProfile.user._id })' class="button orangebutton">Edit your account</a>
    <button ng-click='usersProfile.handleDelete()' class='button is-danger'>Delete your account</button>
  </div>
</div>
