<div class= 'box'>

  <img src='{{usersShow.user.image}}'/>

  <p>{{usersShow.user.firstname}} {{usersShow.user.surname}}</p>
  <p>{{usersShow.user.bio}}</p>

  <hr />

  <p>Jobs {{usersShow.user.firstname}} has created:</p>

  <div ng-repeat='job in usersShow.user.jobs'>
    <a ui-sref='jobsShow({ id: job._id })'><p>{{job.category}}</p></a>
  </div>

  <hr />

  <p>Jobs {{usersShow.user.firstname}} has helped with:</p>
  <div ng-controller='JobsIndexCtrl as jobsIndex'>
  <div ng-repeat='job in jobsIndex.all' >
      <div ng-repeat='applicant in job.applicants'>
        <div ng-if="applicant.who === usersShow.user._id">
        <div ng-if="applicant.status === 'accepted'">
          <p><a ui-sref='jobsShow({ id: job._id })'>{{job.category}} for {{job.createdBy.firstname}} {{job.createdBy.surname}}</a></p>
          <p>Job status: {{job.status}}</p>
        </div>
        </div>
      </div>
  </div>
  </div>

</div>
